$color1: white;
$color2: black;
$transparente: transparent;
* {
    box-sizing: border-box;
}

body {
    width: auto;
    min-height: 200vh;
    background-image: url("/practicas4/img/1366_2000.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2 {
    border: 2px solid black;
    color: $color1;
    text-decoration: underline $color1;
    font-family: Impact, Charcoal, sans-serif;
}

p {
    color: $color1;
    font-family: Impact, Charcoal, sans-serif;
}

ul {
    color: $color1;
    font-family: Impact, Charcoal, sans-serif;
    font-size: medium;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    border: 4px solid black;
    color: $color2;
    background-color: $transparente;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.div1 {
    width: 45%;
    height: 480px;
    border: 4px solid black;
    color: $color2;
    background: $transparente;
    margin: 5px;
}

.div2 {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    border: 4px solid black;
    color: $color2;
    background: $transparente;
    justify-content: space-around;
    align-items: center;
}

.card-img-top {
    width: 100% !important;
    /*QUIERO SOBREESCRIBIR LA CLASE DE BOOTSTRAP*/
    height: 377px !important;
    /*QUIERO SOBREESCRIBIR LA CLASE DE BOOTSTRAP*/
}

.card {
    width: 15%;
    margin: 10px;
}

.footer {
    display: flex;
    width: 200%;
    // height: 130px;
    border: 4px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 5px;
}

.imagencita {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (max-width:500px) {
    .div1 {
        width: 100%;
        flex-wrap: wrap;
    }
    .div2 {
        flex-wrap: wrap;
    }
    .card {
        width: 60%;
    }
}

@media (max-width:768px) {
    .div2 {
        width: 100%;
        flex-wrap: wrap;
    }
    .card {
        width: 60%;
    }
}